body {
    background-color: black;
}


/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    border: solid 3px rgba(153, 243, 17, 0.637);
    background-color: rgb(73, 72, 72) !important;
}

.navbar-brand {
    color: rgba(153, 243, 17, 0.637) !important;
}

.nav-link {
    color: rgba(241, 234, 234, 0.959) !important;
}

.searchBar {
    position: fixed;
    right: 2%;
}


/* content containers */
.contentContainer {
    position: absolute;
    top: 4%;
    height: 100vh;
    width: 100%;
}

.card {
    margin-top: 20px;
    background-color: black;
    color: rgba(153, 243, 17, 0.637);
}

.card-body {
    text-align: left;
    padding: 10px 0;
}

/* Header */
.header {
    background-color: black;
    color: rgba(153, 243, 17, 0.637);
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.headerContainer {
    margin-top: 13%;
}

.pageTitle {
    font-size: 150px;
    font-family: audiowide;
}

.subtitle {
    font-size: 30px;
}

/* Trending Movies */
.nowContainerOuter,
.comingContainerOuter,
.airingContainerOuter,
.trendingTVContainerOuter {
    overflow: scroll;
    width: 100vw;
    height: 300px;
    
}

.nowContainerInner,
.comingContainerInner,
.airingContainerInner,
.trendingTVContainerInner {
    width: 3900px;
}

.posters {
    margin: 5px;
    opacity: .7;
    width: 185px;
    height: auto;
}

.posters:hover {
    opacity: 1;
    z-index: 500;
    cursor: pointer;
}

/* trailer */
.trailerContainer {
    background-color: rgba(0, 0, 0, 0.863);
    font-family: 'Nunito Sans', sans-serif;
}

.trailerContainer {
    height: 100vh;
    width: 100%;
}

.trailerDisplay {
   background-color: black;
   margin: 0;
   width: 75%;
   height: 90%;
   position: relative;
   left: 12%;
   color: white;
}

.contentDisplay {
    position: relative;
    left: 5%;
}

.title {
    text-align: center;
}

.MovieRating,
.actors,
.rated {
  font-size: 20px;
}


/* footer */
.footer {
    margin-bottom: 0;
    background-color: rgb(73, 72, 72) !important;
    color: white;
    padding: 2%;
  }

.footerTitle {
    color: rgba(153, 243, 17, 0.637);
    font-family: iceland;
    font-size: 90px;
}

.copy {
    margin-top: 2%;
    text-align: center;
}

.hover-image {
    margin: 5px;
    height: 75px;
    width: 75px;
    -webkit-transition: all 1s ease-in-out;
    color: green;
  }
  
  .hover-image:hover {
    height: 75px;
    width: 75px;
    filter: none;
    -webkit-transform: scale(1.25);
    color: green;
  }
